
html {
    font-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #0C1A53;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: white;
    padding-right: 0 !important;
}
.clear{
    clear:both;
    float: none !important;
}
.mobile {
    display: none;
}
.desktop {
    display:block;
}
a {
    text-decoration: none;
    color: #92811B;
}
a:focus {
    outline: none;
    outline-offset: 0;
    color: #92811B;
    opacity: 0.7;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    opacity: 0.7;
    color: #92811B;
}
a, label, #results {
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
}
.scroll-down {
    position: absolute;
    bottom: 90px;
    left: 50%;
    width: 20px;
    margin-left: -10px;
    cursor: pointer;
}
.scroll-down img {
    width: 100%;
}
h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}
h2 {
    margin-bottom: 40px;
}
p {
    margin: 0 0 10px;
    font-size: inherit;
    font-size: 20px;
}

header {
    position: relative;
    height: 250px;
    color:white;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling, .tlo-parallax {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    outline: none;
}
.stars {
    background:#0c005f url(../../business_card_reader_app/templates/business_card_reader_app/../../../static/img/stars.png) repeat top center;
    z-index:0;
}
.twinkling{
    background:transparent url(../../business_card_reader_app/templates/business_card_reader_app/../../../static/img/twinkling2.png) repeat top center;
    z-index:1;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}
.parallax-window {
    background: transparent;
    min-height: 400px;
    margin: 0;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
}
header h1 {
    position: relative;
    z-index: 3;
    text-align: left;
    padding-top: 100px;
    font-size: 48px;
    margin:0;
}
.upload-section {
    margin: 80px 0;
}
i.fa {
    margin-right: 10px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label, .infobox {
    background-color: #f35454;
    padding: 20px 40px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
}
.inputfile:focus + label,
.inputfile + label:hover {
    opacity: 0.8;
}
.visit-card-content {
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
}
.visit-card-content img {
    width: 100%;
}
.app {
    background-color: white;
}
#results {
    max-height: 0;
    overflow: hidden;
}
#results.active {
    max-height: 500px;
}
#results > div {
    padding-bottom: 80px;
}
.card-details {
    padding-top: 5px;
    padding-left: 30px;
}
.card-details p {
    font-size: 20px;
    margin-bottom: 20px;
}
.card-details i {
    width: 15px;
}
.infobox {
    background-color: #21b5df;
    font-size: 18px;
    text-transform: none;
    margin-top: 30px;
    cursor: auto;
}
.small p {
    font-size: 16px;
}
.about {
    padding: 80px 0;
    color: white;
}
.author-box {
    padding: 15px 40px 30px;
    background-color: rgba(12,0,95,0.32);
    color: white;
}
footer {
    padding: 40px 0 30px;
    background: #0c005f;
    color: white;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
}

@media all and (max-width: 450px) {

}