
html {
    font-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #0C1A53;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: white;
    padding-right: 0 !important;
}
.clear{
    clear:both;
    float: none !important;
}
.mobile {
    display: none;
}
.desktop {
    display:block;
}
a {
    text-decoration: none;
    color: #92811B;
}
a:focus {
    outline: none;
    outline-offset: 0;
    color: #92811B;
    opacity: 0.7;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    opacity: 0.7;
}
a, label, #results {
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
}
.scroll-down {
    position: absolute;
    bottom: 90px;
    left: 50%;
    width: 20px;
    margin-left: -10px;
    cursor: pointer;
}
.scroll-down img {
    width: 100%;
}
h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}
h2 {
    margin-bottom: 40px;
}
p {
    margin: 0 0 10px;
    font-size: inherit;
    font-size: 20px;
}

header {
    position: relative;
    height: 250px;
    color:white;
}

header>.container>h1>a{
    color: white;
}

header>.container>h1>a:hover{
    opacity: 1;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling, .tlo-parallax {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    outline: none;
}
.stars {
    background:#0c005f url(../img/stars.png) repeat top center;
    z-index:0;
}
.twinkling{
    background:transparent url(../img/twinkling2.png) repeat top center;
    z-index:1;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}
.parallax-window {
    background: transparent;
    min-height: 400px;
    margin: 0;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
}
header h1 {
    position: relative;
    z-index: 3;
    text-align: left;
    padding-top: 100px;
    font-size: 48px;
    margin:0;
    float: left;
}
.upload-section {
    margin: 80px 0;
}
i.fa {
    margin-right: 10px;
}
.inputfile {

}
.inputfile + label, .infobox, .button {
    background-color: #f35454;
    padding: 20px 40px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
}
.button {
    position: relative;
    z-index: 3;
    outline: none;
    border: none;
    float: right;
    margin-top: 100px;
}
.inputfile:focus + label,
.inputfile + label:hover {
    opacity: 0.8;
}

#upload-button {
    float: left;
    margin-top: 10px;
    margin-bottom: 100px;
}

.visit-card-content {
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
}
.visit-card-content img {
    width: 100%;
}
.app {
    background-color: white;
}
#results {
    max-height: 0;
    overflow: hidden;
}
#results.active {
    max-height: 500px;
}
#results > div {
    padding-bottom: 80px;
}
.card-details {
    padding-top: 5px;
    padding-left: 30px;
}
.card-details p {
    margin-bottom: 20px;
}
.card-details i {
    width: 15px;
}
.infobox {
    background-color: #21b5df;
    font-size: 18px;
    text-transform: none;
    margin-top: 30px;
    cursor: auto;
}
.small p {
    font-size: 16px;
}
.about {
    padding: 80px 0;
    color: white;
}
.author-box {
    padding: 15px 40px 30px;
    background-color: rgba(12,0,95,0.32);
    color: white;
}
footer {
    padding: 40px 0 30px;
    background: #0c005f;
    color: white;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35);
}
.card-item {
    border-bottom: 2px solid #21b5df;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.card-item:last-of-type {
    border: none;
    margin-bottom: 50px;
}

@media all and (max-width: 1199px) {

    header {
        height: 210px;
}
    header h1 {
        padding-top: 80px;
        font-size: 38px;
    }
    p {
        font-size: 16px;
    }
    .card-details p {
        margin-bottom: 13px;
    }
    h2{
        font-size: 26px;
        margin-bottom: 30px;
    }
    .upload-section {
        margin: 60px 0;
    }
    .about {
        padding: 60px 0;
    }
    .inputfile + label, .infobox, .button {
        font-size: 16px;
        padding: 20px 32px;
    }
    .button {
        margin-top: 75px;
}
}
@media all and (max-width: 991px) {
    .author-box {
        padding: 12px 35px 25px;
        margin-bottom: 20px;
    }
    .about {
        padding: 60px 0 40px;
    }
    .visit-card-content {
        max-width: 500px;
    }
    #results > div {
        padding-bottom: 30px;
    }
    #results.active {
        max-height: 800px;
    }
    .card-details {
        padding-left: 0px;
        padding-bottom: 50px;
    }
    .card-item .card-details {
        padding-bottom: 0;
        padding-top: 30px;
}
    .card-item, .card-item:last-of-type {
        margin-bottom: 35px;
    }

}
@media all and (max-width: 767px) {
    header {
        height: auto;
    }
    header h1 {
        padding-top: 60px;
        padding-bottom: 30px;
        font-size: 30px;
        float:none;
    }
    .button {
        margin-top: 0;
        float: none;
        margin-bottom: 50px;
    }
}
@media all and (max-width: 600px) {
    .upload-section {
        margin: 40px 0;
    }
    .card-details {
        padding-bottom: 20px;
    }
    .infobox {
        margin-top: 20px;
    }
    .about {
        padding: 50px 0 30px;
    }
}

@media all and (max-width: 450px) {
    header h1 {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 26px;
    }
    h2 {
        font-size: 20px;
    }
    .about {
        padding: 40px 0 20px;
    }
    .author-box {
        padding: 7px 25px 15px;
    }
    .card-item, .card-item:last-of-type {
        margin-bottom: 20px;
        padding-bottom: 10px;
}
    .card-item .card-details {
        padding-top: 20px;
    }
}
